<div>
    <table class="table table-striped">
        <thead class="thead-dark bg-success">
            <tr>
                <th><b>Name</b></th>
                <th><b>Id</b></th>
                <th><b>Year</b></th>
                <th><b>Color</b></th>
                <th><b>Pantone_Value</b></th>
                <th><b>Delete</b></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let object of objects; let i=index">
                <td>{{object.name}}</td>
                <td>{{object.id}}</td>
                <td>{{object.year}}</td>
                <td>{{object.color}}</td>
                <td>{{object.pantone_value}}</td>
                <td><button (click)="delete(i)">delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
