<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
        <li cclass="nav-item">
            <a routerLink="Home" href=""class="nav-link" href="#"><b>Home</b></a>
        </li>
        <br>
        <li class="nav-item">
            <a routerLink="Table" href=""class="nav-link" href="#"><b>Table</b></a>
        </li>
        <br>
        <li class="nav-item">
            <a routerLink="Form" href=""class="nav-link" href="#"><b>Form</b></a>
        </li>
    </ul>
</nav>
  <router-outlet></router-outlet>